* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 2rem;
	background-color: #f0f0f0;
}

.master {
	display: flex;
	flex-flow: column;
	height: 100%;

	h1 {
		font-size: 3svh;
	}

	main {
		border-radius: 2svh;
		padding: 1rem;
		max-width: 100%;
		flex-grow: 1;
		color: #333;
		font-size: 1rem;
		background: #a0a0a0;
	}
}

.actions {
	width: 100%;
	background: white;

	textarea {
		resize: none;
	}
}
