* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3svh;
}

main {
	color: #333;
	height: 90vh;
	font-size: 1rem;
	background: #a0a0a0;
	overflow: scroll;
	max-height: 80vh;
	display: grid;
	grid-template-rows: masonry;
	grid-template-columns: 1fr 1fr;
	grid-column: 1/2;
	gap: 1rem;
	padding: 1rem;
}

@media (max-width: 768px) {
	main {
		grid-template-columns: 1fr;
	}
}

.actions {
	width: 100%;
	max-width: 100%;
	background: white;
	max-height: 10vh;
	display: flex;
	overflow: scroll;
	flex-direction: row;
	padding: 1rem 0rem;


	form {
		flex-grow: 1;
		display: flex;
		flex-direction: row;

		textarea {
			flex-grow: 1;
			resize: none;
		}

		input[type='file'] {
			flex-grow: 1;
			color: black;
			background: grey;
			padding: 0.5rem;
			border: none;
			border-radius: 0.5rem;

		}
	}
}

.item {
	background: #6a6a6a;
	padding: 1rem;
	border-radius: 1rem;

	pre {
		white-space: pre-wrap;
		overflow: scroll;
		max-height: 10rem;
		max-width: 100%;
	}

	img {
		max-width: 100%;
		max-height: 12rem;
	}
}

button,
input[type='submit'] {
	color: white;
	background: black;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
}
