* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3svh;
}

main {
	flex-grow: 1;
	color: #333;
	height: 90vh;
	font-size: 1rem;
	background: #a0a0a0;
	overflow: scroll;
	max-height: 90vh;
}

.actions {
	width: 100%;
	background: white;
	max-height: 10vh;
	display: flex;
	flex-direction: row;

	textarea {
		resize: none;
	}
}

.item {
	background: #6a6a6a;
	padding: 1rem;
	margin: 1rem 1rem;
	border-radius: 1rem;

	pre {
		white-space: pre-wrap;
		overflow: scroll;
		max-height: 10rem;
		max-width: 100%;
	}
}

button,
input[type='submit'] {
	color: white;
	background: black;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
}
