package templates

import "miiky976/Godis/kv"

templ All() {
	<div id="notes">
		for _, item := range kv.KV {
			if item.Type == "string" {
				@Text(item.Key, item.Value)
			} else if item.Type == "image/jpeg" || item.Type == "image/png" {
				@Image(item.Key, item.Type, item.Value)
			}
		}
	</div>
}
