package templates

import (
	"miiky976/Godis/utils"
)

templ Image(key, head string, image []byte) {
	<div class="item image">
		<h6>{ key }</h6>
		<img class="object" src={ utils.Source(head, image) }/>
	</div>
}
