package templates

import (
"miiky976/Godis/utils"
"miiky976/Godis/kv"
"strconv"
)

templ Image(key uint, data *kv.Data) {
<div class="item image">
	<h6>{ strconv.Itoa(int(key)) }</h6>
	<img class="object" src={ utils.Source(data.Type, data.Value) } />
</div>
}
