package templates

import "miiky976/Godis/kv"

templ Joiner(pos uint) {
@Loop(pos + 1)
if kv.Read(pos).Type == "string" {
@Text(pos, kv.Read(pos))
} else if kv.Read(pos).Type == "image/png" || kv.Read(pos).Type == "image/jpeg" {
@Image(pos, kv.Read(pos))
}
}
