package templates

import "miiky976/Godis/kv"

templ Joiner(pos int) {
	@Loop(pos + 1)
	if kv.Master[pos].Type == "string" {
		@Text(pos, kv.Master[pos])
	} else if kv.Master[pos].Type == "image/png" || kv.Master[pos].Type == "image/jpeg" {
		@Image(pos, kv.Master[pos])
	}
}
