package templates

import "strconv"

templ Loop(place int) {
	<div
		id="newnote"
		hx-swap="outerHTML"
		hx-trigger="revealed delay:1s"
		hx-target="this"
		hx-get={ "/GETLOOP/" +
	strconv.Itoa(place) }
	></div>
}
