package templates

import "miiky976/Godis/kv"
import "strconv"

templ Text(key uint, data *kv.Data) {
<div class="item text">
	<h6>{ strconv.Itoa(int(key)) }</h6>
	<pre class="object">{ string(data.Value) }</pre>
	<button type="button" _="on click 
				writeText(my previousElementSibling's innerText) on navigator.clipboard
				put 'Copied' into me
				wait 1s
				put 'Copy' into me" class="copy">Copy</button>
</div>
}
